{% extends 'base.html' %}
{% block body %}

<main class="main">
     <!-- Resume Section -->
     <section id="resume" class="resume section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Resume</h2>
          <p>Passionate and motivated Computer Science Engineering student with a keen interest in Python, Django, and Flask. Committed to mastering web development technologies and contributing to impactful projects through hands-on experience and collaboration.</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Sumary</h3>
  
              <div class="resume-item pb-0">
                <h4>Piyush Parate</h4>
                <p><em>Innovative and dedicated Computer Science Engineering student with a strong passion for Python, Django, and Flask. Eager to apply theoretical knowledge to real-world projects and gain hands-on experience through internships and collaborative opportunities.</em></p>
                <ul>
                  <li>Mumbai, India</li>
                  <li>+91 8767014573</li>
                  <li>piyushrajeshparate@gmail.com</li>
                </ul>
              </div><!-- Edn Resume Item -->
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>BACHELOR OF COMPUTER SCIENCE ENGINEERING</h4>
                <h5>2022 - 2026</h5>
                <p><em>Xavier Institute of Engineering, Mumbai, India</em></p>
                <p>Developed a strong foundation in computer science principles and programming, with a focus on Python and web frameworks such as Django and Flask. Engaged in various projects and coursework to enhance technical skills and problem-solving abilities.</p>
              </div><!-- Edn Resume Item -->
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>INTERN</h4>
                <h5>2023 - Present</h5>
                <p><em>JP Morgan, Mumbai, India </em></p>
                <ul>
                  <li>Assisted in the development of web applications using Python, Django, and Flask.</li>
                  <li>Collaborated with senior developers to design and implement features.</li>
                  <li>Participated in code reviews and contributed to optimizing performance and user experience.</li>
                  <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
                </ul>
              </div><!-- Edn Resume Item -->
  
              <div class="resume-item">
                <h4>PROJECT CONTRIBUTOR</h4>
                <h5>2022 - 2023</h5>
                <p><em>[Freelance/Personal Projects]</em></p>
                <ul>
                  <li>Designed and developed web applications for personal and freelance projects.</li>
                  <li>Applied Python and Django/Flask to create scalable and efficient solutions.</li>
                  <li>Worked on improving the UI/UX of applications to enhance user interaction and satisfaction.</li>
                </ul>
              </div><!-- Edn Resume Item -->
  
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /Resume Section -->

{% endblock %}